@using FFY.Web.Areas.Administration.Models.ContactManagement
@model ContactViewModel


<div class="row change-status-container">
    @using (Html.BeginForm("updateStatus", "contactManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-offset-8 col-md-2">
            @Html.HiddenFor(m => m.Contact.Id)
            @Html.EnumDropDownListFor(m => m.Contact.ContactStatusType, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <input type="submit" value="@FFY.Resources.Language.Change" class="btn btn-primary btn-block" />
        </div>
    }
</div>
<div class="contact-header row">
    <div class="col-sm-12 contact-title">
        <h3>@Model.Contact.Title</h3>
    </div>
    <div class="col-sm-6 contact-from">
        @FFY.Resources.Language.From:  @Model.Contact.Email
    </div>
    <div class="col-sm-6 contact-send-on">
        @FFY.Resources.Language.Date:  @Model.Contact.SendOn
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        @Model.Contact.EmailContent
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-offset-8 col-sm-2">
        @if (@Model.Contact.UserProcessedBy != null)
        {
            <div>
                @FFY.Resources.Language.ProcessedBy:  @Model.Contact.UserProcessedBy.Email
            </div>
        }
    </div>
</div>



