@using FFY.Web.Areas.Profile.Models
@model ShoppingCartViewModel

<h2>@FFY.Resources.Language.ShoppingCartYour</h2>
<div class="shopping-cart-list">
    <div class="row shopping-cart-list-head">
        <div class="col-sm-5 sc-product">
            @FFY.Resources.Language.ShoppingCartProduct
        </div>
        <div class="col-sm-2 sc-single-price">
            @FFY.Resources.Language.ShoppingCartSinglePrice
        </div>
        <div class="col-sm-2 sc-quantity">
            @FFY.Resources.Language.ShoppingCartQuantity
        </div>
        <div class="col-sm-2 sc-total-price">
            @FFY.Resources.Language.ShoppingCartTotalPrice
        </div>
    </div>
    <div class="shopping-cart-list-items">
        @if (Model.ShoppingCart.Total > 0)
        {
            foreach (var product in Model.ShoppingCart.CartProducts.Where(p => p.IsInCart))
            {
                <div class="row shopping-cart-list-item">
                    <div class="col-sm-5 sc-product">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <img class="img-responsive" src="~/Images/products/@product.Product.ImagePath" />
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            @product.Product.Name
                        </div>
                    </div>
                    <div class="col-sm-2 sc-single-price">
                        @product.Product.DiscountedPrice @FFY.Resources.Language.Currency
                    </div>
                    <div class="col-sm-2 sc-quantity">
                        @product.Quantity
                    </div>
                    <div class="col-sm-2 sc-total-price">
                        @product.Total @FFY.Resources.Language.Currency
                    </div>
                    <div class="col-sm-1">
                        <img id="@product.Id" src="~/Content/sources/remove-icon.png" alt="X" class="shopping-cart-remove-item" />
                    </div>
                </div>
            }
            <div class="row shopping-cart-list-foot">
                <div class="col-sm-offset-9 col-sm-2 sc-total">
                    @Model.ShoppingCart.Total @FFY.Resources.Language.Currency
                </div>
            </div>
            @Html.ActionLink(FFY.Resources.Language.Purchase, "Order", "shoppingCart", new { cartId = Model.ShoppingCart.UserId }, new { @class="btn btn-primary purchase-button" });
        }

        else
        {
            <h2 class="empty-shopping-cart">@FFY.Resources.Language.ShoppingCartEmpty</h2>
        }
    </div>
    @using (Html.BeginForm("removeCartItem", "shoppingCart", new { CartId = Model.ShoppingCart.UserId }, FormMethod.Post, new { id= "remove-cart-item-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("cartProductId", "", new { id = "removed-cart-product-id" })
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
                $(".shopping-cart-remove-item").click(function () {
                    $("#removed-cart-product-id").val(event.target.id);
                    $("#remove-cart-item-form").submit();
                });
            });
    </script>
}
