@using FFY.Web.Models.Furniture
@model ProductsSelectionViewModel

<div class="row">
    <div class="furniture-container">
        @using (Html.BeginForm("products", "furniture", new
        {
            filterBy = Model.FilterBy
        }, FormMethod.Get,
                        new { id = "search-form" }))
        {
            <div class="search-header row">
                <div class="col-sm-4">
                    <input type="text" name="search" class="form-control" placeholder="@FFY.Resources.Language.Search" value="@Model.Search" />
                </div>
                <div class="col-sm-2 form-group">
                    <input type="number" name="from" class="form-control" placeholder="@FFY.Resources.Language.From" value="@Model.From" />
                </div>
                <div class="col-sm-2 form-group">
                    <input type="number" name="to" class="form-control" placeholder="@FFY.Resources.Language.To" value="@Model.To" />
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-block" type="submit">@FFY.Resources.Language.Search</button>
                </div>
            </div>
        }
        @if (Model.ProductsCount == 0)
        {
            <h2 class="empty-furniture-list">@FFY.Resources.Language.NoProducts</h2>
        }
        else
        {
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-xs-6 col-sm-3 furniture-list-item">
                        <div class="@(Model.FilterBy == "discount" ? "furniture-wrapper-discount" : "furniture-wrapper")">
                            <a href="@Url.Action("product", "furniture", new { area = "", id= product.Id })">
                                <img src="~/Images/products/@product.ImagePath" class="img-responsive" />
                                <div class="furniture-name">
                                    @product.Name
                                </div>
                                <div class="furniture-price">
                                    @FFY.Resources.Language.Price: @product.Price
                                </div>
                                <div class="furniture-discounted-price">
                                    @FFY.Resources.Language.NewPrice: @product.DiscountedPrice
                                </div>
                                @if (Model.FilterBy == "discount")
                                {
                                    <div class="furniture-discounted-percentage">
                                        @product.DiscountPercentage% @FFY.Resources.Language.Off
                                    </div>
                                }
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="row col-xs-12">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.Pages; i++)
                {
                        <li class=@(i == Model.Page ? "active" : "")>
                            @Html.ActionLink(i.ToString(), "products",
                new
                {
                    filterBy = Model.FilterBy,
                    search = Model.Search,
                    from = Model.From,
                    to = Model.To,
                    page = i
                })
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
