@using FFY.Web.Models.Furniture

@model DetailedProductViewModel
<section id="#detailed-product">
    <div class="row">
        <div class="col-md-7">
            <img src="~/Images/products/@Model.Product.ImagePath" class="img-center img-responsive" />
        </div>
        <div class="col-md-5">
            <h1 class="product-detail-title">@Model.Product.Name</h1>
            <h2 class="product-detail-title-sub">@Model.Product.Category.Name.ToUpper()</h2>
            <div class="product-detail-price">
                @Model.Product.DiscountedPrice @FFY.Web.Resources.Language.Currency
            </div>
            <div class="product-detail-description">
                @Html.Raw(Model.Product.Description)
            </div>
            <div class="product-detail-additional">
                <div class="product-detail-rating col-md-5">
                    <span>
                        <img src="~/Content/sources/rating-icon.png" /> @string.Format("{0:0.0}", Model.Product.Rating) / 5.0
                    </span>
                </div>
                <div class="product-detail-status col-md-5">
                    @if (Model.Product.Quantity > 0)
                    {
                        <span class="available">
                            <img src="~/Content/sources/available-icon.png" /> @FFY.Web.Resources.Language.Available
                        </span>
                    }
                    else
                    {
                        <span class="unavailable">
                            <img src="~/Content/sources/unavailable-icon.png" /> @FFY.Web.Resources.Language.Unavailable
                        </span>
                    }
                </div>
            </div>
            <hr />
            @Html.Partial("ShoppingCartPartial", Model)
            @Html.Partial("RatingPartial", Model)
            @Html.Partial("FavoritePartial", Model)
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
                $(".star").click(function () {
                    var id = Number(event.target.id[0]);

                    for (var i = 1; i <= id; i += 1) {
                        $("#" + i + "-empty").addClass("hidden");
                        $("#" + i + "-full").removeClass("hidden");
                    }
                    for (var i = id + 1; i <= 5; i += 1) {
                        $("#" + i + "-empty").removeClass("hidden");
                        $("#" + i + "-full").addClass("hidden");
                    }

                    $("#rating").val(id);
                });
            });
    </script>
}

