<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture For You</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Furniture For You", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(FFY.Resources.Language.Home, "index", "home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink(FFY.Resources.Language.Furniture, "index", "furniture", new { area = "" }, null)</li>
                    <li>@Html.ActionLink(FFY.Resources.Language.Contact, "index", "contact", new { area = "" }, null)</li>
                    <li>@Html.ActionLink(FFY.Resources.Language.En, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), 
                       new { language = "en", id = ViewContext.RouteData.Values["id"] == null ? "" : ViewContext.RouteData.Values["id"].ToString() }, null)</li>
                    <li>@Html.ActionLink(FFY.Resources.Language.Bg, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), 
                       new { language = "bg", id = ViewContext.RouteData.Values["id"] == null ? "" : ViewContext.RouteData.Values["id"].ToString() }, null)</li>
                </ul>
                @Html.Partial("_AdministrationPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @if (!User.IsInRole("Administrator") && !User.IsInRole("Moderator"))
        {
            if (User.Identity.IsAuthenticated)
            {
                <div id="support-chat-wrapper">
                    <div id="support-chat-header">
                        @FFY.Resources.Language.Support
                    </div>
                    <iframe id="support-chat-frame" name="support-chat"></iframe>
                </div>
                @Html.ActionLink(FFY.Resources.Language.Support, "index", "supportChatClient", new { area = "profile" }, new { id="support-chat-link", target = "support-chat" })
                <div id="support-chat-shower" class="hidden">@FFY.Resources.Language.Support</div>
            }

        }
        <hr />
        <footer>
            <p>&copy; Telerik Academy 2016/2017 ASP.NET MVC Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $("#support-chat-link").click(function () {
            $("#support-chat-link").toggleClass("hidden");
            $("#support-chat-wrapper").toggle(300);
        });

        $("#support-chat-shower").click(function () {
            $("#support-chat-shower").toggleClass("hidden");
            $("#support-chat-wrapper").toggle(300);
        });

        $("#support-chat-header").click(function () {
            $("#support-chat-wrapper").toggle(300);
            $("#support-chat-shower").toggleClass("hidden");
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
