@using Microsoft.AspNet.Identity
@using System.Web.Mvc
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("logOut", "account", new { area = ""}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("index", "shoppingCart", new { area = "profile" }, null)" class="cart-container">
                @this.Cache.Get($"cart-count-{User.Identity.GetUserId()}")
                <img alt="Shopping cart" src="@Url.Content("~/Content/sources/cart.png")">
            </a>
        </li>  
        <li>@Html.ActionLink(User.Identity.GetUserName(), "index", "information", new { area = "profile" }, null)</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@FFY.Web.Resources.Language.Logout</a></li>
     </ul>
     }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(FFY.Web.Resources.Language.Login, "login", "account", new { area= "" }, new { id = "loginLink" })</li>
    </ul>
}
