@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("logOut", "account", new { area = ""}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("index", "shoppingCart", new { area = "profile" }, null)" class="cart-container" title="Shopping cart">
                0
                <img alt="Shopping cart" src="@Url.Content("~/Content/sources/cart.png")">
            </a>
        </li>  
        <li>@Html.ActionLink(User.Identity.GetUserName(), "index", "information", new { area = "profile" }, null)</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
     </ul>
     }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "register", "account", new { area = "" }, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "login", "account", new { area= "" }, new { id = "loginLink" })</li>
    </ul>
}
