<div class="row">
    <div class="orders-management-container">
        @using (Ajax.BeginForm("SearchOrders", null,
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "search-results",
                        InsertionMode = InsertionMode.Replace
                    },
                    new { id = "search-form" }))
        {
            <div class="search-header">
                <div class="col-sm-3">
                    <input type="text" name="SearchWord" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-block" type="submit">@FFY.Web.Resources.Language.Search</button>
                </div>
                <div class="col-sm-offset-3 col-sm-2">
                    @Html.DropDownList("FilterBy", new List<SelectListItem>()
                    {
                        new SelectListItem() { Text=FFY.Web.Resources.Language.All, Value = "0" },
                        new SelectListItem() { Text=FFY.Web.Resources.Language.Processing, Value = "1" },
                        new SelectListItem() { Text=FFY.Web.Resources.Language.Sent, Value = "2" },
                        new SelectListItem() { Text=FFY.Web.Resources.Language.Delivered, Value = "3" },
                        new SelectListItem() { Text=FFY.Web.Resources.Language.Rejected, Value = "4" }
                    }, new
                    {
                        id = "filter-options",
                        @class = "form-control"
                    })
                </div>
                <div class="col-sm-2">
                    @Html.DropDownList("SortBy", new List<SelectListItem>()
                    {
                        new SelectListItem() { Text=FFY.Web.Resources.Language.SendOn, Value="date" },
                        new SelectListItem() { Text=FFY.Web.Resources.Language.Sender, Value="sender" },
                        new SelectListItem() { Text=FFY.Web.Resources.Language.Address, Value="address" }
                    }, new
                    {
                        id = "sort-options",
                        @class = "form-control"
                    })
                </div>
            </div>
        }
        <div id="search-results" class="col-sm-12">
            @Html.Action("SearchOrders")
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    <script type="text/javascript">
        $(document).ready(function () {

            $('#sort-options').change(function (e) {
                $('#search-form').submit();
            });

            $('#filter-options').change(function (e) {
                $('#search-form').submit();
            });
        });
    </script>
}




